.login-box label {
  padding-right: 1em;
}
.login-box input {
  margin-left: 0.5em;
}

.follows-and-threads {
  display: flex;
}

.follows-list {
  width: 20em;
  height: 100vh;
  overflow-wrap: break-word;
  overflow-y: scroll;
  flex-grow: 0;
  flex-shrink: 0;
}

.selected-author {
  font-weight: bold;
}

.selected-author::after {
  content: " ✅";
}
