.login-box {
  margin: 0.5em;
}
.login-box label {
  padding-right: 1em;
}
.login-box input {
  margin-left: 0.5em;
}

.follows-and-threads {
  overflow-wrap: break-word;

  display: flex;
  overflow-y: hidden;
  gap: 10px;

  grid-column: 1 / 3;
}

.follows-list {
  overflow-y: scroll;
  min-width: 20em;
  max-width: 20em;
  margin: 0.5em;
}

.selected-author {
  font-weight: bold;
}

.selected-author::after {
  content: " ✅";
}

main.griddy-main {
  display: grid;
  grid-template-columns: 20vw 80vw;
  grid-template-rows: auto minmax(0, 1fr);
  max-height: 100vh;
}

.griddy-main h1 {
  margin: 0.5em;
}

@media screen and (max-width: 40rem) {
  main.griddy-main {
    grid-template-rows: auto;
    grid-template-columns: auto;
  }
  .follows-and-threads {
    grid-column: auto;
  }
}

/* Author/thread/toot */

.dangerous-content {
  display: inline;
}
.follows-and-threads {
  display: flex;
  overflow-y: hidden;
  gap: 10px;
}

.follows-and-threads > .thread {
  flex-grow: 1;
  flex-shrink: 0;
  width: 20em;
  overflow-wrap: break-word;
  overflow-y: scroll;
}

.thread summary {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: gray;
  padding-left: 1em;
}

.toot {
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 3px gray dotted;
}
.toot:last-child {
  border-bottom: none;
}
.toot .toot-author {
  border: 1px gray solid;
  border-radius: 0.5em;
  padding: 0.1em;
}

.button-bar {
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}
.button-bar button {
  margin-left: 0.25em;
}

.thread sup {
  font-size: 0.75em;
}

/* https://stackoverflow.com/a/24908149 */
.supsub {
  display: inline-block;
}

.supsub sup,
.supsub sub {
  position: relative;
  display: block;
  font-size: 0.75em;
  line-height: 1.2;
}

.supsub sub {
  top: 0.3em;
}

/* Via https://css-tricks.com/single-element-loaders-the-spinner/ */
.loader-spinner {
  width: 2em; /* control the size */
  aspect-ratio: 1;
  display: grid;
  mask: conic-gradient(from 22deg, #0003, #000);
  animation: load 1s steps(8) infinite;
}
.loader-spinner,
.loader-spinner:before {
  --_g: linear-gradient(gray 0 0) 50%; /* update the color here */
  background: var(--_g) / 34% 8% space no-repeat,
    var(--_g) / 8% 34% no-repeat space;
}
.loader-spinner:before {
  content: "";
  transform: rotate(45deg);
}
@keyframes load {
  to {
    transform: rotate(1turn);
  }
}
