/* Via https://stackoverflow.com/a/24908149 */
.supsub {
  display: inline-block;
}

.supsub sup,
.supsub sub {
  position: relative;
  display: block;
  font-size: 0.5em;
  line-height: 1.2;
}

.supsub sub {
  top: 0.3em;
}

.all-threads ol {
  padding-left: 1em;
}

.all-threads summary {
  margin-left: -1em;
}

.all-threads li span p:first-child {
  display: inline;
}

.all-threads {
  display: flex;
}

.all-threads > .thread {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  width: 20em;
  overflow-wrap: break-word;
}
